<!--Start inscription-->
<section id="contact" class="section parallax">
    <div class="overlay"></div>
     <div class="container">
         <div class="row">
         
               <div class="title-box text-center white">
                  <h2 class="title">S'inscrire à une course</h2>
               </div>
           </div>
           <div class="title-box text-center white">
           <div id="calendar"></div>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        
                </div>
                
                <div class="col-md-8 col-md-offset-2 contact-form">
     
     <form method="post">
        <div class="row">
            <div class="col-md-6">
                <p>Immatricualtion de l'avion</p>
                <input type="text" name="exImat" id="exImat" class="form-control" placeholder="exemple: F-ENAC" required>
            </div>

            <div class="col-md-6">
                <p>Type de l'avion</p>
                <input type="text" name="exType" id="exType" class="form-control" placeholder="exemple: ROBIN DR-400" required>
            </div>

            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-green">S'inscrire</button>
            </div>

        </div>
    </form>




</div>
<!--End inscription form-->

</div> <!-- /.container-->
</section>
<!--End inscription-->