 <!--Start Testimonial-->  
  <section id="testimonials" class="section parallax">
     <div class="overlay"></div>
        <div class="container">
              <div class="row">
              
                  	<div class="title-box text-center white">
                        <h2 class="title">Les créateurs</h2>
                     </div>

              
                    <div class="col-md-10 col-md-offset-1">
                        <div class="testimonials-carousel">
                            <!--Start Testimonial item #1-->
                            <div class="items">
                                <div class="desc">Apres un bac S et une prepa je suis rentré a l'ENAC en tant que IESSA</div>
                                <img src="/images/testimonial/testimonial-img1.jpg" class="testimonial-pic" alt="testimonials" />
                                <div class="name">Ludovic CHALOIN</div>
                            </div>
                            
                              <!--Start Testimonial item #2-->
                            <div class="items">
                                <div class="desc">Apres un bac S et une prepa je suis rentré a l'ENAC en tant que IESSA</div>
                                <img src="/images/testimonial/testimonial-img2.jpg" class="testimonial-pic" alt="testimonials" />
                                <div class="name">Quentin EL MOURCHID</div>
                            </div>
                        </div>
                    </div>
                </div> <!--/.row-->
            </div> <!--/.container-->
          </section>
        <!--Start Testimonial-->