 <!--Start Contact-->
 <section id="contact" class="section parallax">
    <div class="overlay"></div>
     <div class="container">
         <div class="row">
         
               <div class="title-box text-center white">
                  <h2 class="title">Création de course</h2>
               </div>
           </div>

             <!--Start contact form-->
             <div class="col-md-8 col-md-offset-2 contact-form">
             
                  <div class="contact-info text-center">
                     <p>Envie de créer votre course?</p>
                     <p>Ce site est la pour vous! </p>
                     <p>Remerciez nous par de généreux dons à l'adresse 2 rue bonneEspérance, 31000 Toulouse </p>
                  </div>
                   
                   <form method="post" >
                      <div class="row">
                          <div class="col-md-6">
                            <p>Nom de la course</p>
                              <input class="form-control" id="course_name" placeholder="Nom de la course" type="text">
                          </div>
                          <div class="col-md-6">
                            <p>Date</p>
                              <input class="form-control" id="course_date" placeholder="Date" type="date">
                          </div>
                          <div class="col-md-12">
                            <p>Description</p>
                              <textarea class="form-control" id="course_description" rows="7" placeholder="Enter your description"></textarea>
                          </div>
                          <div class="col-md-12 text-center">
                              <button type="submit" class="btn btn-green">Créer la course</button>
                          </div>
                      </div>
                  </form>
             </div>
            <!--End contact form-->
            
     </div> <!-- /.container-->
 </section>
 <!--End Contact-->