<div id="main-menu" class="collapse scroll navbar-right">
    <ul class="nav">
    
        <!--li class="active"> <a href="#home">Home</a> </!--li-->
        
        <li> <a href="#configurerCourse">Configurer une course</a> </li>
        
        <li> <a href="#creerCourse">Créer une Course</a> </li>
        
        <li> <a href="#simulation">Simulation</a></li>

        <li> <a href="#inscription">Inscriptions</a> </li>
        
        <li> <a href="#mesResultats">Mes résultats</a> </li>
       
        <li> <a href="#signUp">Se connecter</a> </li>
        
        <li> <a href="#webmaster">Webmasters</a></li>

        <li> <a href="#testimonials">COUVhgbrt</a></li>
            
    </ul>
</div><!-- end main-menu -->